version: '2'

services:
  database:
    image: mongo
    container_name: 'resize_photo-db'

  dev:
    image: resize_photo-env
    build: .
    hostname: "dev"
    working_dir: /home/app/library/
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    links:
      - database
